[Desktop Entry]
Name=Start Tri-Mode
GenericName=Start Tri-Mode
Comment=A script to launch ham radio apps
Exec=/home/pi/start-trimode/start-trimode.sh reset
Icon=/home/pi/start-trimode/start-trimode-icon.png
Terminal=false
Type=Application
Categories=Network;HamRadio;
Path=~/start-trimode
